<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
  <input type="hidden" name="editId" placeholder="id" value="{editId}" required>
  <input type="text" name="editName" placeholder="name" value="{editName}" required>
  <input type="text" name="editAge" placeholder="age" value="{editAge}" required>
  <input type="text" name="editSex" placeholder="gender" value="{editSex}" required>
    <input type="text" name="editImage" id="editImage" >
    <!--    nhấn để lấy đường link từ storage firebase -->
    <input type="file" id="fileButton" onchange="uploadImage(event)" required>
  <button type="submit">Submit</button>
</form>
<div id="imgDiv"></div>
<script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script>
<script>
    // Initialize Firebase
    const firebaseConfig = {
        apiKey: "AIzaSyCJe0l2QrmIhsjsNI_hn-aKNF7oY0_ZnxE",
        authDomain: "crud-8adf5.firebaseapp.com",
        projectId: "crud-8adf5",
        storageBucket: "crud-8adf5.appspot.com",
        messagingSenderId: "405629308956",
        appId: "1:405629308956:web:0b272898ea071b59c34fd9",
        measurementId: "G-QJX462K990"
    };
    firebase.initializeApp(firebaseConfig);
</script>
<script type="text/javascript">
    function uploadImage(e) {
        let fbBucketName = 'images';
        let uploader = document.getElementById('uploader');
        let file = e.target.files[0];
        let storageRef = firebase.storage().ref(`${fbBucketName}/${file.name}`);
        let uploadTask = storageRef.put(file);
        uploadTask.on(firebase.storage.TaskEvent.STATE_CHANGED,
            function (snapshot) {
                uploader.value = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
                switch (snapshot.state) {
                    case firebase.storage.TaskState.PAUSED:
                        break;
                    case firebase.storage.TaskState.RUNNING:
                        break;
                }
            }, function (error) {
                switch (error.code) {
                    case 'storage/unauthorized':
                        break;
                    case 'storage/canceled':
                        break;
                    case 'storage/unknown':
                        break;
                }
            }, function () {
                let downloadURL = uploadTask.snapshot.downloadURL;
                document.getElementById('imgDiv').innerHTML = `<img src="${downloadURL}" alt="">`
                // localStorage.setItem('image', downloadURL);
                // alert(downloadURL)
                document.getElementById('editImage').value = downloadURL
            });
    }
</script>
</body>
</html>